button {
    border: none;
    background-color: #3f88c5;
    /*color: white;*/
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.warning_button {
background-color: #e07a5f;
}

.func_button {
background-color: #4c956c;
}

.desc_button {
background-color: #8d99ae;
}

#chatbox {
border: 1px solid gray;
overflow-y: scroll;
padding: 10px;
background-color: #ebedee;
}

#chatbox .user_edit_btn {
position: absolute;
right: 0px;
top: 0;
}

.message {
margin-bottom: 10px;
font-size: 18px;
color: #00695c;
}

.dialog-portrait-img{
    height: 25px;
    width: 25px;
    padding: 2px;
    border-radius: 50%;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

pre {
white-space: pre-wrap;
word-wrap: break-word;
}

.user-message {
color: #00695c;
/* text-align: right; */
}

.assistant-message {
color: #ef6c00;
}

.system-message {
color: #330867;
}

.warning-message {
color: red;
}

.chatgpt-message {
text-align: left;
}

.loading_wrap {
padding: 10px;
color: #4c956c;
font-size: 17px;
}

.button_wrap {
margin: 8px 0;
display: flex;
justify-content: center;
position: relative;
flex-wrap: wrap;
margin-bottom: -7px;
}

.button_wrap button {
margin-right: 10px;
margin-bottom: 14px;
}

.button_wrap button:last-child {
margin-right: 0px;
}

#input-container {
display: flex;
align-items: center;
justify-content: center;
}

#inputbox {
font-size: 1rem;
padding: 10px;
width: 100%;
}
