<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">Sapper Portal</a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <!--margin start = margin left-->
                <li class="nav-item">
                    <a class="nav-link" href="/roleSelect">角色选择</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">创作角色</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recharge">客服充值</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test">test</a>
                </li>
                <li class="nav-item">
                    {% if login_status %}
                    <a class="nav-link" href="/user_login_out">退出登入</a>
                    {% else %}
                    <a class="nav-link" href="/login">登录账号</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>