<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../static/images/icon/Portal_logo.png">
    <title>Sapper Portal</title>
    <link rel="stylesheet" href="../static/css/v5.2.3_bootstrap.min.css" />
    </head>
    <style>
        @media (min-width: 768px) {
            .news-input{
                width: 50%;
            }
        }

        .navbar{
            margin-bottom: 1%;
        }

        body::before{
            display: block;
            content: '';
            height: 56px;
        }
    </style>
    <body>
       {% include 'component_navigationBar.html' %}

        <section class="p-5 bg-dark text-light text-center text-sm-start">
            <!--padding -->
            <div class="container">
                <div class="d-flex">
                    <!--display flex-->
                    <div>
                        <h1>
                            欢迎来到<span class="text-warning">Sapper Portal</span>
                        </h1>
                        <p class="my-4">
                            <!-- margin-top margin-bottom -->
                            在这里，您将与多种AI角色展开对话，探索各种令人兴奋的交流体验。
                            Sapper Portal汇集了众多AI角色，包括万能助手、健康顾问、法律顾问、程序员、旅游顾问、虚拟男友、虚拟女友、万能导师、星座大师等等。
                            无论您需要获取知识、解决问题、获得娱乐还是寻找灵感，我们的AI角色将为您提供专业、个性化的服务。
                        </p>
                        <button class="btn btn-primary btn-lg">
                            <a href="/roleSelect " style="text-decoration: none; color: inherit; cursor: pointer;">开始探索</a>
                        </button>
                    </div>
                    <img
                        src="../static/images/index/showcase.svg"
                        alt="showcase"
                        class="w-50 d-none d-md-block"
                    />
                </div>
            </div>
        </section>

        <section class="p-5 bg-primary text-light">
            <div class="container">
                <div
                    class="d-md-flex justify-content-between align-items-center"
                >
                    <h3 class="mb-3">只需三步，在Sapper Portal创建自己的AI角色！</h3>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div class="row g-4">
                    <!--gap-->
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="card-title">① 注册账号</div>
                                <div class="card-text">
                                    <img src="../static/images/index/Tutorial_Register.png" alt="1" class="img-fluid" style="width: 380px; height: 200px;"/>
                                </div>
                                <a href="/login" class="btn btn-primary mt-2"
                                    >注册账号</a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-secondary text-light">
                            <div class="card-body text-center">
                                <div class="card-title">② 进入'创作'</div>
                                <div class="card-text">
                                    <img src="../static/images/index/Tutorial_Create.png" alt="1" class="img-fluid" style="width: 380px; height: 200px;"/>
                                </div>
                                <a href="/create" class="btn btn-primary mt-2"
                                    >进入创作</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="card-title">③ 填写信息并提交</div>
                                <div class="card-text">
                                    <img src="../static/images/index/Tutorial_Submit.png" alt="1" class="img-fluid" style="width: 380px; height: 200px;"/>
                                </div>
                                <a href="/create" class="btn btn-primary mt-2"
                                    >填写信息并提交</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md" style="display: flex; justify-content: center;">
                        <img src="../static/images/index/Be_Creator.png" alt="1" class="img-fluid" style="margin: auto;"/>
                    </div>
                    <div class="col-md p-5">
                        <h2>成为创作者</h2>
                        <p class="lead">
                           您可以亲自创造属于自己的AI角色！通过提交相关信息和照片，您可以设计出独一无二、符合个人喜好和需求的AI角色，并由我们的管理员进行审核。这样，您将成为创造者与参与者之一，共同丰富我们网站的AI角色阵容。
                        </p>
                        <p>
                            无论您是在寻求实用的建议、想要尽情娱乐，还是渴望与AI角色进行深入互动，我们的门户网站将为您提供一个开放、多元的平台。让我们和AI角色一起开启一段充满无限可能性的对话之旅吧！
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5 bg-dark text-light">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md p-5">
                        <h2>Sapper</h2>
                        <p class="lead">
                            点击下方按钮跳转至我们的角色设定词填写网站Sapper！
                        </p>
                        <p>
                            我们的角色设定词填写网站将为您提供一站式的创作工具，助力您构建出独特而引人入胜的角色形象。
                            通过点击下方按钮，您将进入我们专门为角色创作者打造的网站。在这里，您将享受到高质量的角色设定词生成服务，轻松获得丰富而精准的角色描述。
                        </p>
                        <a href="" class="btn btn-light">查看更多</a>
                    </div>

                    <div class="col-md">
                        <img src="../portal_services/static/img/2.svg" alt="1" class="img-fluid" />
                    </div>
                </div>
            </div>
        </section>

{#        <section class="p-5">#}
{#            <div class="container">#}
{#                <h2 class="text-center">常见问题</h2>#}
{#                <div#}
{#                    class="accordion accordion-flush"#}
{#                    id="accordionFlushExample"#}
{#                >#}
{#                    <div class="accordion-item">#}
{#                        <h2 class="accordion-header" id="flush-headingOne">#}
{#                            <button#}
{#                                class="accordion-button collapsed"#}
{#                                type="button"#}
{#                                data-bs-toggle="collapse"#}
{#                                data-bs-target="#flush-collapseOne"#}
{#                                aria-expanded="false"#}
{#                                aria-controls="flush-collapseOne"#}
{#                            >#}
{#                                Accordion Item #1#}
{#                            </button>#}
{#                        </h2>#}
{#                        <div#}
{#                            id="flush-collapseOne"#}
{#                            class="accordion-collapse collapse show"#}
{#                            aria-labelledby="flush-headingOne"#}
{#                            data-bs-parent="#accordionFlushExample"#}
{#                        >#}
{#                            <div class="accordion-body">#}
{#                                Placeholder content for this accordion, which is#}
{#                                intended to demonstrate the#}
{#                                <code>.accordion-flush</code> class. This is the#}
{#                                first item's accordion body.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="accordion-item">#}
{#                        <h2 class="accordion-header" id="flush-headingTwo">#}
{#                            <button#}
{#                                class="accordion-button collapsed"#}
{#                                type="button"#}
{#                                data-bs-toggle="collapse"#}
{#                                data-bs-target="#flush-collapseTwo"#}
{#                                aria-expanded="false"#}
{#                                aria-controls="flush-collapseTwo"#}
{#                            >#}
{#                                Accordion Item #2#}
{#                            </button>#}
{#                        </h2>#}
{#                        <div#}
{#                            id="flush-collapseTwo"#}
{#                            class="accordion-collapse collapse"#}
{#                            aria-labelledby="flush-headingTwo"#}
{#                            data-bs-parent="#accordionFlushExample"#}
{#                        >#}
{#                            <div class="accordion-body">#}
{#                                Placeholder content for this accordion, which is#}
{#                                intended to demonstrate the#}
{#                                <code>.accordion-flush</code> class. This is the#}
{#                                second item's accordion body. Let's imagine this#}
{#                                being filled with some actual content.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="accordion-item">#}
{#                        <h2 class="accordion-header" id="flush-headingThree">#}
{#                            <button#}
{#                                class="accordion-button collapsed"#}
{#                                type="button"#}
{#                                data-bs-toggle="collapse"#}
{#                                data-bs-target="#flush-collapseThree"#}
{#                                aria-expanded="false"#}
{#                                aria-controls="flush-collapseThree"#}
{#                            >#}
{#                                Accordion Item #3#}
{#                            </button>#}
{#                        </h2>#}
{#                        <div#}
{#                            id="flush-collapseThree"#}
{#                            class="accordion-collapse collapse"#}
{#                            aria-labelledby="flush-headingThree"#}
{#                            data-bs-parent="#accordionFlushExample"#}
{#                        >#}
{#                            <div class="accordion-body">#}
{#                                Placeholder content for this accordion, which is#}
{#                                intended to demonstrate the#}
{#                                <code>.accordion-flush</code> class. This is the#}
{#                                third item's accordion body. Nothing more#}
{#                                exciting happening here in terms of content, but#}
{#                                just filling up the space to make it look, at#}
{#                                least at first glance, a bit more representative#}
{#                                of how this would look in a real-world#}
{#                                application.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{##}
{#        <section class="p-5 bg-primary">#}
{#            <div class="container">#}
{#                <h2 class="text-center text-light">案例介绍</h2>#}
{#                <p class="lead text-center text-white mb-5">#}
{#                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.#}
{#                    Hic, unde?#}
{#                </p>#}
{#                <div class="row g-4">#}
{#                    <div class="col-md-6 col-lg-3">#}
{#                        <div class="card bg-light">#}
{#                            <div class="card-body text-center">#}
{#                                <img src="img/01-man.jpeg" class="mb-3 rounded-circle"/>#}
{#                                <h3 class="card-title">绘小诗</h3>#}
{#                                <p class="card-text">#}
{#                                    Lorem ipsum dolor sit amet consectetur#}
{#                                    adipisicing elit. Accusamus, ratione!#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 col-lg-3">#}
{#                        <div class="card bg-light">#}
{#                            <div class="card-body text-center">#}
{#                                <img src="img/02-man.jpeg" class="mb-3 rounded-circle"/>#}
{#                                <h3 class="card-title">绘小诗</h3>#}
{#                                <p class="card-text">#}
{#                                    Lorem ipsum dolor sit amet consectetur#}
{#                                    adipisicing elit. Accusamus, ratione!#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 col-lg-3">#}
{#                        <div class="card bg-light">#}
{#                            <div class="card-body text-center">#}
{#                                <img src="img/03-man.jpeg" class="mb-3 rounded-circle"/>#}
{#                                <h3 class="card-title">绘小诗</h3>#}
{#                                <p class="card-text">#}
{#                                    Lorem ipsum dolor sit amet consectetur#}
{#                                    adipisicing elit. Accusamus, ratione!#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6 col-lg-3">#}
{#                        <div class="card bg-light">#}
{#                            <div class="card-body text-center">#}
{#                                <img src="img/01-man.jpeg" class="mb-3 rounded-circle"/>#}
{#                                <h3 class="card-title">绘小诗</h3>#}
{#                                <p class="card-text">#}
{#                                    Lorem ipsum dolor sit amet consectetur#}
{#                                    adipisicing elit. Accusamus, ratione!#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

        <section class="p-5">
            <div class="container">
                <h2 class="text-center mb-4">联系我们</h2>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">电话：</li>
                    <li class="list-group-item">邮箱：</li>
                    <li class="list-group-item">地址：</li>
                  </ul>
            </div>
        </section>

        <footer class="p-5 bg-dark text-white text-center">
            <div class="container">
                <p class="lead">Copyright &copy; </p>
            </div>
        </footer>
    <script src="../static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>
