<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>角色选择</title>
<link href="../static/css/v5.2.3_bootstrap.min.css" rel="stylesheet"/>
<link href="../static/css/base.css" rel="stylesheet">
<link href="../static/css/roleSelection.css" rel="stylesheet">
<script src="../static/js/jquery.min.js"></script>
</head>
<body style="background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);">
<link href="../static/css/nav.css" rel="stylesheet">
{% include 'component_navigationBar.html' %}
    <div id="top" class="h90"></div>
    <div  class="Frame Wrap">
	<div class="cb"></div>
	<div class="Line"></div>
     <div class="Frame">
		<div class="Tutor">
            <div class="search">
                <input type="text" placeholder="搜索角色" id="searchInput">
                <button onclick="searchRole()">搜索</button>
            </div>
			<ul class="role-list">
{#					<li>#}
{#						<a href="/select/wanneng">#}
{#							<img src="../static/images/role/wanneng.png">#}
{#							<h2>万能助手</h2>#}
{#						</a>#}
{#					</li>#}
			</ul>
			<div class="cb"></div>
		</div>
	</div>

</div>

<div id="back-to-top"><a href="#top" style="font-size: 1.5rem;">↑</a></div>
<script>
	//返回顶部
	$(document).ready(function () {
        //首先将#back-to-top隐藏
        $("#back-to-top").hide();
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 100) {
                    $("#back-to-top").fadeIn(1500);
                }
                else {
                    $("#back-to-top").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#back-to-top").click(function () {
                $('body,html').animate({ scrollTop: 0 }, 1000);
                return false;
            });
        });
    });
    // 写一个函数generate_li(english,chinese);
    // 传入两个参数，一个是角色的英文名，一个是角色的中文名
    // 生成一个li标签:<li>
	//					<a href="/select/english">
	//						<img src="../static/images/role/english.png">
	//						<h2>chinese</h2>
	//					</a>
	//				</li>
    function generate_li(english,chinese){
        var li = $("<li></li>");
        var a = $("<a></a>");
        var img = $("<img>");
        var h2 = $("<h2></h2>");
        img.attr("src","../static/images/role/"+english+".png");
        h2.text(chinese);
        a.attr("href","/select/"+english);
        a.append(img);
        a.append(h2);
        li.append(a);
        $(".role-list").append(li);
    }
    // 向后端‘/select/show’发送请求，获取角色信息，后端返回包含角色名的字典“{"wanneng": "万能助手", "wannengdaoshi": "万能导师", "translator": "翻译官"}”,前端接收后，依次遍历，调用generate_li函数，生成角色列表;如果报错，弹出错误信息
    $.ajax({
        url:'/select/show',
        type:'get',
        dataType:'json',
        success:function(data){
            // console.log(data);
            for(var key in data){
                generate_li(key,data[key]);
            }
        },
        error:function(){
            alert("error");
        }
    });

    function searchRole() {
      var input = document.getElementById('searchInput').value; // 获取搜索框中的输入值
      var roles = document.querySelectorAll('.role-list li'); // 获取所有角色列表项

      for (var i = 0; i < roles.length; i++) {
        var role = roles[i];
        var roleName = role.querySelector('h2').innerText; // 获取角色名

        if(roleName.includes(input)) { // 判断角色名是否包含搜索关键字
          role.style.display = 'block'; // 显示匹配的列表项
        } else {
          role.style.display = 'none'; // 隐藏未匹配的列表项
        }
      }
    }

</script>
<script src="../static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>